body {
  height: 100vh;
  display: flex;
  font-family: 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
}

h1 {
  font-family: 'Yellowtail', cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 40%;
  background-image: url(/images/nazarizal-mohammad-k5Z2AhnRwT8-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

header p, header a {
  text-align: center;
  font-size: .7rem;
  color: #fff;
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 60%;
  background-color: rgb(245, 245, 245);
}

section {
  padding: 0 60px;
}

.cta {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.8rem;
}

form {
  background-color: #fff;
  padding: 30px 60px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 40px 0
}

form h2 {
  font-size: 1.25rem;
  margin-bottom: 40px;
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 2vh 0;
  gap: 10px;
  background-color: rgb(51, 51, 51, 0.6);
  top: 20vh;
}

.logo-text {
  color: #fff;
  font-size: 2.5rem;
}

.logo-svg {
  width: 80px;
  height: 80px;
}

.credit {
  margin-bottom: 1.5rem;
}

.input-fields {
  display: flex;
  gap: 50px;
}

/* .form-column {
} */

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"],
.form-row input[type="password"] {
  width: 20vw;
  padding: 6px;
  border: 1px solid #333;
  border-radius: 3px;
}

.sign-up button {
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 14px 48px;
  background-color: #107166;
  margin-bottom: 20px;
}

.sign-up button:hover {
  background-color: #034a42;
  cursor: pointer;
}

.sign-up p {
  font-weight: 500;
}

.sign-up a {
  text-decoration: none;
  font-weight: bold;
  color:#107166;
}

.sign-up a:hover {
  color: #034a42;
}